table, th, td {
    /*border: 1px solid black;*/
    background-color: lightgrey;
    border-right: 1px solid black;
    border-top: 1px solid black;

}
.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.verticalCon {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.item {
    height: 100px;
    width: 100px; /* A fixed width as the default */
}

.item-center {
    flex-grow: 1; /* Set the middle element to grow and stretch */
}

.item + .item {
    margin-left: 2%;
}