:root {
    --width: 1890px;
    --height: 930px;
}

div {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.body{
    margin: 10px;
    width: var(--width);
    height: var(--height);
    display: block;
    /*background-color: black;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    background-color:white;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    font-size: 16px;
    /*font-family: courier new,Courier,monospace;*/

}


.header {
    display: inline-flex;
    align-items: center;
    width: var(--width);
    height: calc(var(--height)*0.07);
    position: sticky;
    position: -webkit-sticky;
    top:0;
    border-width: thin;
    /*border-style: solid;*/
    border-color: grey;
    /*background-color: #f0f0f2;*/
    background-color: white;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
.footer {
    width: var(--width);
    height: calc(var(--height)*0.05);
    text-align: center;
    /*border-width: thin;*/
    /*border-style: solid;*/
    /*border-color: black;*/
    background-color: white;
    /*background-color: #f0f0f2;*/
}

.main {
    width: var(--width);
    height: calc(var(--height)*0.9);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    /*align-items: stretch;*/
    /*border-style: solid;*/
    /*border-color: lightblue;*/
    /*border-width: thin;*/


}


#parameter {
    display: block;
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    height: calc(var(--height)*0.9);
    width: 375px;
    border-style: solid;
    border-color: aquamarine;
    border-width: medium;
    border-radius: 20px;

}
.visualization{
    width: 1015px;
    height: calc(var(--height)*0.9);
    width: -moz-available;
    width: -webkit-fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
    /*!*border-style: solid;*!*/
    /*border-color: black;*/
    /*border-width: thin;*/
}
.pseudocode{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: calc(var(--height)*0.9);
    /*background-color: rgb(167 212 30);*/
    /*font-size: 12px;*/
    /*font-weight: 900;*/
    font-family: courier new,Courier,monospace;
    /*border-style: solid;*/
    /*border-color: aquamarine;*/
    /*border-width: thin;*/
    /*margin-left: 10px;*/
    /*border-radius: 20px;*/
    /*cursor: w-resize;*/
    /*padding: 20px;*/
    /*overflow: auto;*/

}

#pseudocode-body {
    border-width: medium;
    border-radius: 20px;
    border-color: aquamarine;
    border-style: solid;
    width: 500px;
    height: 90%;
    /*background-color: rgb(167 212 30);*/
    color: black;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 12.5px;
    overflow-wrap: break-word;
    /*border-style: solid;*/
    margin: 2px;


}

#pseudocode {
    /*width: 500px;*/
    color: black;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    font-size: 12.5px;
    overflow-wrap: break-word;
    margin: 2px;

}
#userMessage{
    width: 500px;
    /*position: fixed;*/
    border-width: medium;
    border-radius: 20px;
    /*background-color: rgb(46 187 209);*/
    color: black;
    height: 10%;
    border-style: solid;
    border-color: aquamarine;
    margin: 2px;
}