
.parametertext {

  font-size: 20px;
  text-align: justify;
  margin: 16px;
  margin-bottom: 0px;



}

/*pre, code, kbd, samp {*/
/*  font-family: courier new,Courier,monospace;*/
/*  font-size: 12px;*/

/*}*/

.h1{
  font-size: 18px;}
/*li {*/
/*  !*display: list-item;*!*/
/*  !*padding-left: 5px;*!*/
/*  list-style-type: none;*/
/*  !*text-align: -webkit-match-parent;*!*/
/*}*/
/*ol  {*/
/*  display: block;*/
/*  list-style-type: none;*/
/*  padding-left: -40px;*/

/*}*/




.flex-text{

}
.text-passive{
  /*font-size: medium;*/
  /*font-style: normal;*/
  color: black;
  /*background-color: rgb(167 212 30) ;*/
  background-color: white;
  /*font-weight: normal;*/
}


.text-active{
  /*font-size: large;*/
  /*font-style: italic;*/
  /*color: darkred;*/
  /*font-weight: bold;*/
  background-color: black;
  color: white;


}
.rect {
  fill: transparent;
  stroke-width: 2px;
  /*stroke:aqua}*/
}
.recttext {
  fill: transparent;
  stroke-width: 2px;
  stroke:aqua
}

.textRect {
  fill: none;
  stroke: none}


.rect-green {
  fill: transparent;
  stroke-width: 2px;
  stroke:red}


.rect-info {
  fill: whitesmoke ;
  stroke-width: 2px;
  stroke:aqua;
  /*opacity: 0*/
}

.rect-header {
  fill: whitesmoke ;

}

/* Style The Dropdown Button */
.dropbtn {
  /*background-color: mediumaquamarine;*/
  /*color: black;*/
  padding: 10px;
  margin: 5px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
  background-color: #298F83;
  border-color: #31615B;


}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.config-buttons {
  /*width: 400px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;

}

.media-buttons {
  /*width: 250px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*margin-left: -400px;*/

}
.material-icons{
  /*color: white;*/
  /*background-color: #4caf50;*/

}
.material-icons:hover {
  color: #000!important;
  background-color: #ccc!important;
}

.control-button{
  color: black;
  background-color: mediumaquamarine;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;

}


#close {
  width: 28px;
  color: #aaaaaa;
  /*float: right;*/
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.masthead .left div {
  margin: 2px;
  margin-left: 498px;

}
.masthead .logo-large {
  width: 7rem;
}

img {
  display: block;
  max-width: 100%;
}



 .tooltiptext {
  font-style: italic;
  visibility: hidden;
  font-size: 28px;
  text-align: center;
  position: absolute;
   /*top: 40px;*/
   /*right: 40px;*/
  z-index: 10;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.hidepseudo{
  transition-duration: 0.5s;
  width: 0;
}